<!doctype html>

<html ng-app="phoreCastApp">
    
<head>
    <meta charset=utf-8>
    <title>Phorcast - Making weather fun.</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" type="text/css">     
    <link rel="stylesheet" href="style.css" type="text/css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2GJm8JWyDKBwdcdq_xRN-B1Q3KUGTPiQ"></script>
</head>

    <body ng-controller="phoreController as pCtrl">


                <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                  
                  <div class="navbar-header">
                    <!-- <span class="navbar-brand" rel="home" href="" title="Phorcast - Making weather fun!">PHORCAST</span> -->
                    <div class="logo-box"><img src="phorcast.png"></div>
                  </div>
                               
                    
                  <!--   <div class="col-sm-3 col-md-3 col-lg-4 pull-right"> -->
               <!--    <form class="navbar-form"> -->
                  <form class="navbar">                          

                    <div class="search-bar" align="right">
  
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="city, region, or place of interest" ng-model="pCtrl.searchCity">
                          <div class="input-group-btn">
                            <button ng-click="pCtrl.getCityForecast(pCtrl.searchCity)"class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                        </div>
                      
                    </div>
                  </form>
                    
              
                </div>


        <style> 
          body {
            background-image: url({{ pCtrl.flickrBackground }});
            background-size: cover;
  /*          opacity : 0.2;*/
          }
        </style>

        <div class="container">
            
<!--        <div class="header">
              Phorcast
            </div> -->

            <div class="map-box">
                <div class="map-box" id="map"></div>
            </div>

          <div style="text-align: center;">
            <div class="city-name"> 
               7-day Phorcast for: <B>{{ pCtrl.cityName }}</B>
            </div>
          </div>
            
          <div class="box-container">

            <div class="floating-box">
              <div class="data-box">
                <div>
                  <div class="current-box">CURRENT</div>
                </div>
<!--                 {{ pCtrl.day0day }}, {{ pCtrl.day0date }}<BR> -->
                {{ pCtrl.day0Temp }}&deg; F<BR>
                {{ pCtrl.day0shortDesc }}<BR>
                <div class="temp-box">
                  <div class="tempHigh-box">{{ pCtrl.day0tempMax }}&deg;</div> / <div class="tempLow-box">{{ pCtrl.day0tempMin }}&deg;</div>
                </div>
              </div>
              <div class="giphy-box">
                <img ng-click="pCtrl.getNewGiphy0()" ng-src="{{ pCtrl.day0giphy }}">
              </div>
              <div class="summary-box">
                <div class="summary-icon">
                  <canvas id="icon0" width="80" height="80"></canvas>
                </div>
                <div class="summary-text">
                  {{ pCtrl.day0summary }}
                </div>
              </div>
            </div>

            <div class="floating-box">
              <div class="data-box">
                {{ pCtrl.day1day }}, {{ pCtrl.day1date }}<BR>
                <div class="shortDesc-box">{{ pCtrl.day1shortDesc }}</div>
                <div class="temp-box">
                  <div class="tempHigh-box">{{ pCtrl.day1tempMax }}&deg;</div> / <div class="tempLow-box">{{ pCtrl.day1tempMin }}&deg;</div>
                </div>
              </div>
              <div class="giphy-box">
                <img ng-click="pCtrl.getNewGiphy1()" ng-src="{{ pCtrl.day1giphy }}">
              </div>
              <div class="summary-box">
                <div class="summary-icon">
                  <canvas id="icon1" width="80" height="80"></canvas>
                </div>
                <div class="summary-text">
                  {{ pCtrl.day1summary }}
                </div>
              </div>
            </div>

            <div class="floating-box">
              <div class="data-box">
                {{ pCtrl.day2day }}, {{ pCtrl.day2date }}<BR>
                <div class="shortDesc-box">{{ pCtrl.day2shortDesc }}</div>
                <div class="temp-box">
                  <div class="tempHigh-box">{{ pCtrl.day2tempMax }}&deg;</div> / <div class="tempLow-box">{{ pCtrl.day2tempMin }}&deg;</div>
                </div>
              </div>
                <div class="giphy-box">
                <img ng-click="pCtrl.getNewGiphy2()" ng-src="{{ pCtrl.day2giphy }}">
              </div>
              <div class="summary-box">
                <div class="summary-icon">
                  <canvas id="icon2" width="80" height="80"></canvas>
                </div>
                <div class="summary-text">
                  {{ pCtrl.day2summary }}
                </div>
              </div>
            </div>

            <div class="floating-box">
              <div class="data-box">
                {{ pCtrl.day3day }}, {{ pCtrl.day3date }}<BR>
                <div class="shortDesc-box">{{ pCtrl.day3shortDesc }}</div>
                <div class="temp-box">
                  <div class="tempHigh-box">{{ pCtrl.day3tempMax }}&deg;</div> / <div class="tempLow-box">{{ pCtrl.day3tempMin }}&deg;</div>
                </div>
              </div>
              <div class="giphy-box">
                <img ng-click="pCtrl.getNewGiphy3()" ng-src="{{ pCtrl.day3giphy }}">
              </div>
              <div class="summary-box">
                <div class="summary-icon">
                  <canvas id="icon3" width="80" height="80"></canvas>
                </div>
                <div class="summary-text">
                  {{ pCtrl.day3summary }}
                </div>
              </div>
            </div>

            <div class="floating-box">
              <div class="data-box">
                {{ pCtrl.day4day }}, {{ pCtrl.day4date }}<BR>
                <div class="shortDesc-box">{{ pCtrl.day4shortDesc }}</div>
                <div class="temp-box">
                  <div class="tempHigh-box">{{ pCtrl.day4tempMax }}&deg;</div> / <div class="tempLow-box">{{ pCtrl.day4tempMin }}&deg;</div>
                </div>
              </div>
              <div class="giphy-box">
                <img ng-click="pCtrl.getNewGiphy4()" ng-src="{{ pCtrl.day4giphy }}">
              </div>
              <div class="summary-box">
                <div class="summary-icon">
                  <canvas id="icon4" width="80" height="80"></canvas>
                </div>
                <div class="summary-text">
                  {{ pCtrl.day4summary }}
                </div>
              </div>
            </div>

            <div class="floating-box">
              <div class="data-box">
                {{ pCtrl.day5day }}, {{ pCtrl.day5date }}<BR>
                <div class="shortDesc-box">{{ pCtrl.day5shortDesc }}</div>
                <div class="temp-box">
                  <div class="tempHigh-box">{{ pCtrl.day5tempMax }}&deg;</div> / <div class="tempLow-box">{{ pCtrl.day5tempMin }}&deg;</div>
                </div>
              </div>
              <div class="giphy-box">
                <img ng-click="pCtrl.getNewGiphy5()" ng-src="{{ pCtrl.day5giphy }}">
              </div>
              <div class="summary-box">
                <div class="summary-icon">
                  <canvas id="icon5" width="80" height="80"></canvas>
                </div>
                <div class="summary-text">
                  {{ pCtrl.day5summary }}
                </div>
              </div>
            </div>

            <div class="floating-box">
              <div class="data-box">
                {{ pCtrl.day6day }}, {{ pCtrl.day6date }}<BR>
                <div class="shortDesc-box">{{ pCtrl.day6shortDesc }}</div>
                <div class="temp-box">
                  <div class="tempHigh-box">{{ pCtrl.day6tempMax }}&deg;</div> / <div class="tempLow-box">{{ pCtrl.day6tempMin }}&deg;</div>
                </div>
              </div>
              <div class="giphy-box">
                <img ng-click="pCtrl.getNewGiphy6()" ng-src="{{ pCtrl.day6giphy }}">
              </div>
              <div class="summary-box">
                <div class="summary-icon">
                  <canvas id="icon6" width="80" height="80"></canvas>
                </div>
                <div class="summary-text">
                  {{ pCtrl.day6summary }}
                </div>
              </div>
            </div>      


          </div>
  
        </div>

        <script type="text/javascript" src="main.js"></script>
        <script type="text/javascript" src="factory.js"></script>        
        <script type="text/javascript" src="skycons.js"></script>   
    </body>       
</html>        
        